.movie-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.movie-container h1 {
  font-size: 3rem;
}

.movie-container small {
  font-size: small;

  filter: opacity(70%);

  padding-top: 10px;
  padding-bottom: 10px;
}

.movie-detail {
  padding-top: 40px;
  
  display: flex;
  flex-direction: column;
  
  width: 70vw;
  height: 100%;
}

.movie-header {
  display: flex;
  flex-direction: row;
  
  justify-content: start;
  align-items: center;
}

.movie-title {
  margin-right: auto;
  
  display: flex;
  flex-direction: column;
  align-items: start;
}

.rating-score {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: sub;
}

.movie-banner {
  display: flex;
  flex-direction: row;
  justify-content: start;

  height: 420px;
}

img.poster{
  height: 100%;
  aspect-ratio: 1 / 1.5;

  margin-right: 15px;
}

img.backdrop {
  /* width: 534px; */
  height: 100%;
}