header {
  background-color: #3b726d;
  height: 5vh;
  width: 100vw;
  font-family: 'Nosifer', cursive;
  padding-bottom: 15px;
  padding-top: 10px;
}

.logo-header {
  color:white !important;
  display: inline-block;
}

.logo-header-genre {
  color: #e67700 !important;
  display: inline-block;
  margin-left: 1%;
}

.logo-header:hover {
  color: #e67700 !important;
}

main {
  color: white;
  background-color: #1a4453;
  min-height: 100vh;
}

.App {
  text-align: center;
}










